[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"
"flake8" = "*"
codecov = "*"
mock = "*"
detox = "==0.19"
tox = "<3.7"
{{cookiecutter.project_short_name}} = {path = ".",editable = true}

[requires]
python_version = "3.7"